$color1: violet;
$color2: rgb(73, 5, 73);
$color3: rgb(12, 197, 12);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 80px;
    background-color: rgb(73, 5, 73);
}

.img-navbar{
    height: 80px;
}

.nav-link{
    background-color: rgb(73, 5, 73);
    font-size: 20px !important;
    text-transform: uppercase !important;
    margin-left: 5px !important;
    color: violet !important;   
}

.nav-link:hover {
    color: rgb(12, 197, 12) !important;
}
.toggler-icon{
    background-color: yellowgreen;
}

.carrito i{
    color: $color3;
} 

.jumbotron{
    background-image: url(img/fondo\ de\ pagina\ web.jpg);
    background-size: cover;
    height: 800px;
}

.jumbotron p {
    color: rgb(73, 5, 73);
    font-size: 20px;
    text-shadow: 0 0 20px;
    text-align: center;
}



.carousel-inner img {
    width: 100%;
    height: 100%;
}

.sec{
    width: 100%;
}

.carousel-indicators li {
    width: 20px; 
    height: 20px; 
    background-color: #999; 
    border: 1px solid #ccc; 
    border-radius: 50%; 
    margin: 0 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.carousel-indicators .active {
    background-color: violet; 
}

.carousel-indicators li:hover {
    background-color: #0056b3; 
}

.carousel-control-prev-icon:hover{
    transform: scale(2);
    transition: all 0.5s;
    
}

.carousel-control-next-icon:hover{
    transform: scale(2);
    transition: all 0.5s;
} 

.jumbotron0{
    background-image: url(img/portada\ home2.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
}

.jumbotron0 p {
    color: rgb(73, 5, 73);
    font-size: 20px;
    text-shadow: 0 0 20px;
    text-align: center;
}

.jumbotron1{
    background-image: url(img/portada\ nosotros.jpg);
    background-position: center;
    background-size: cover;
    height: 800px;
}

.jumbotron1 p {
    color: violet;
    font-size: 20px;
    text-shadow: 0 0 20px;
    text-align: center;
}

.jumbotron2{
    background-image: url(img/portada\ cosmetica.jpg);
    background-position: center;
    background-size: cover;
    height: 800px;
}
.jumbotron2 h1{
    color: cornsilk;
}
.jumbotron2 p {
    color: violet;
    font-size: 20px;
    text-shadow: 0 0 20px;
    text-align: center;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: violet;
}

.card {
    background-color: transparent;
    position: relative;
    width: 300px;
    height: 350px;
    
    margin: 20px;
    cursor: pointer;
    perspective: 1000px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .8s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 10px 10px rgb(73, 5, 73);
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 0;
    color: violet;
    background: rgba(0,0,0,.2);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px violet;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: violet;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
} 

.jumbotron3{
    background-image: url(img/portada\ nutricion.jpg);
    background-position: center;
    background-size: cover;
    height: 800px;
}

.jumbotron3 p {
    color: whitesmoke;
    font-size: 20px;
    text-shadow: 0 0 20px;
    text-align: center;
}

.card-container1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: violet;
}

.jumbotron4{
    background-image: url(img/portada\ contacto.jpg);
    background-position: center;
    background-size: cover;
    height: 800px;
}

.formulario {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: rgb(73, 5, 73);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: violet;
}

h1{
    color: rgb(73, 5, 73);
    text-align: center;
    margin-bottom: 20px;
    padding: 100px;
}

h2{
    background-color: rgb(73, 5, 73);
    color: violet;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
}

h3{ 
    text-align: center;
    padding: 30px;
}

.nleft{ 
    background-image: url(img/mundo\ morado.jpg);
    flex-wrap: wrap;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.nright{
    background-color: violet;
}

footer{
    background-color: rgb(73, 5, 73);
    color: #fff;
    text-align: center;
    padding: 20px; 
    width: 100%;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
}

footer a{
    color: $color1;
}

footer a:hover{
    color: $color3;
}

.redes{
    color: greenyellow;
    font-size: 50px;
    letter-spacing: 15px;   
}

.what{
    height: 40px;
    width: 40px;
    background-color: violet;
    color: rgb(73, 5, 73);
    position: fixed;
    left: 40px;
    bottom: 40px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    box-shadow: 0 0 10px;
    border-radius: 50%;
}

.subir{
    height: 40px;
    width: 40px;
    background-color: violet;
    color: $color2;
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0 0 10px rgb(73, 5, 73);
}

@media only screen and (min-width: 0) and (max-width:576px){
    .navbar-collapse{
        background-color: green;
        display: flex;
        justify-content: center !important;
    }
}